<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>REGISTRO ARBOL</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        
        <style>
            .horizontal{
                display: flex;
                justify-content: center;
            }
            .vertical{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        </style>
    </head>
    <body>
        
        <nav class="navbar navbar-dark bg-dark">
            <a href="/" class="navbar-brand">
                REGISTRO
            </a>
        </nav>