<% include partes/_header %>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <input type="text" name="nombre" placeholder="nombre" class="form-control">                              
                            </div>  
                            <div class="form-group">
                                <input type="text" name="apellido" placeholder="apellido" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="deuda" placeholder="deuda" class="form-control">
                            </div>
                           
                            <button type="submit" class="btn btn-primary">
                                REGISTRAR
                            </button>
                        </form>
                    </div>
                </div> 
            </div> 
        </div>
    </div>    
<% include partes/_final %>